<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868996699044-8l20vrh0sp1cecq430723r2vktrke50r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868996699044-8l20vrh0sp1cecq430723r2vktrke50r</string>
	<key>API_KEY</key>
	<string>AIzaSyBKio7lf7EqxBuJ0vxqmLWF3_b6HOc_qGc</string>
	<key>GCM_SENDER_ID</key>
	<string>868996699044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jaeseung.InstagramSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-55fd2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-55fd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868996699044:ios:50c1b2a9751feea49b2731</string>
</dict>
</plist>